*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EBEDF0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
a{
    text-decoration: none;
    cursor: pointer;
    height: 100%;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
input{
    width: 100%;
    height: 100%;
}
.search_main .search_input input:focus .search_icon img{
    display: none;
}
input:focus-visible {
    outline: none;
}
ul li{
    position: relative;
}
.color_classes{
color :#F5F6F7;
color :#F2F3F5;
color :#EBEDF0;
color :#DADDE1;
color :#CCD0D5;
color :#BEC3C9;
color :#2a3646;
color :#606770;
color :#444950;
color :#303338;
color :#1C1E21;
color :#00A400;
color :#3578E5;
color :#ECF3FF;
color :#FA383E;
}
.display-flex{
    display: flex;
}
.flex-align-justify{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-align{
    display: flex;
    align-items: center;
}
.flex-align-g10{
    display: flex;
    align-items: center;
    gap: 10px;
}
.flex-justify{
    display: flex;
    justify-content: center;
}
.flex-justify-space-between{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.flex-justify-align-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.width-20{
    width: 20%;
}
.width-60{
    width: 60%;
}
.width-360p{
    width: 100%;
    max-width: 360px;
}
.width-28{
    width: 28px;
    height: 28px;
}
.width-40p{
    width: 40px;
    height: 40px;
}
.width-600p{
    width: 600px;
    min-width: 600px;
}
.position-relative{
    position: relative;
}
.radius-50-overflow-hidden{
    border-radius: 50%;
    overflow: hidden;
}
.nav_main {
    background: #fff;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
    padding: 0px 20px;
}
.logo_img {
    width: 40px;
    height: 40px;
}
.search_main{
    position: relative;
}
.search_icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}
.search_input {
    width: 220px;
    height: 40px;
}
.search_input input {
    border-radius: 20px;
    border: none;
    background: #EBEDF0;
    padding: 10px;
    padding-left: 40px;
}
ul.navigation_list {
    gap: 10px;
}
li.navigation_list_item img {
    width: 28px;
}
li.navigation_list_item a {
    font-size: 10px;
    height: 48px;
    width: 110px;
    transition: 0.5s;
}
li.navigation_list_item a:hover {
    background: #EBEDF0;
    border-radius: 8px;
}
.profile_picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
li.menu_list_item {
    width: 40px;
    background: #EBEDF0;
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
}
li.menu_list_item:hover {
    background: #DADDE1;
}
li.menu_list_item img {
    width: 20px;
}
.profile_picture img{
    width: 40px !important;
}
li.navigation_list_item {
    padding: 2px 0;
    border-bottom: 3px solid #fff;
    transition: 0.5s;
}
.nav_hover_text {
    padding: 8px 12px;
    width: fit-content;
    margin: auto;
    border-radius: 8px;
    color: #fff;
    letter-spacing: 0.2px;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: 0.5s;
    z-index: 3;
}
li.navigation_list_item a:hover ~ .nav_hover_text {
    display: block;
}
li.navigation_list_item.active {
    border-bottom: 3px solid #3578E5;
}
.active-img{
    display: none;
}
.inactive-img{
    display: inline-block;
}
.active .active-img{
    display: inline-block;
}
.active .inactive-img{
    display: none;
}
.menu {
    display: flex;
    justify-content: end;
}
section.main_section_container {
    padding: 20px 12px;
}
li.sidebar_menu_list_item a {
    padding: 8px;
    border-radius: 8px;
    color: #050505;
    transition: 0.5s;
}
li.sidebar_menu_list_item a:hover {
    background: #DADDE1;
}
.border-1 {
    height: 2px;
    width: 100%;
    background: #DADDE1;
    margin: 20px 0;
}
.your_shortcuts .your_shortcut_heading small.edit-option{
    visibility: hidden;
}
.your_shortcuts:hover.your_shortcuts .your_shortcut_heading small.edit-option{
    visibility: visible;
}
small.edit-option {
    padding: 10px;
    color: #3578E5;
    border-radius: 8px;
}
small.edit-option:hover {
    background: #DADDE1;
    cursor: pointer;
}
.your_shortcut_heading b{
    font-size: 17px;
    color: #444950;
}
.your_shortcut_heading {
    margin-bottom: 5px;
}
.post_reel_single.create_story {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    height: 200px;
    cursor: pointer;
    width: 20%;
}
.create_story_icon {
    margin: auto;
    background: #fff;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.create_story_text {
    font-size: 14px;
    color: #050505;
    font-weight: 600;
    position: absolute;
    bottom: -37px;
    width: 100%;
}
.your_name {
    text-align: center;
}
.reel_profile_img {
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    background: #3578E5;
    overflow: hidden;
    z-index: 1;
}
.reel_profile_img img {
    padding: 3px;
    border-radius: 50%;
}
.reel_profile_name {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    color: #fff;
    z-index: 1;
}
.your_profile {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background: #303338;
}
.post_reel_single:hover .your_profile img, .post_reel_single:hover .owner_profile img {
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}
